<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @question.name %>, </h1>
    <p>
      Thank you for your interest, we will answer you in less than 24 hours.<br>
    </p>
    <p>
      Your question: <%= @question.question %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>